@import "compass_twitter_bootstrap";

@mixin radius{
	border-radius: 5px;
}

.btn-group{
	position: fixed;
	right: 10px;
	bottom: 10px;
}

[class^="icon-"], [class*=" icon-"]{
	background-image: url("../images/glyphicons-halflings.png");
}

a.btn{
	float: left;
	margin: 15px;
}

h2{
	margin: 15px;
}

.project{
	float: left;
	margin: 20px 10px 0;
	background: #f7f7f9;
	padding: 10px 15px;
	width: 260px;
	height: 140px;

	-webkit-transition: all ease-out 200ms;
	-moz-transition: all ease-out 200ms;
	-o-transition: all ease-out 200ms;
	-ms-transition: all ease-out 200ms;
	transition: all ease-out 200ms;

	@include radius;
}

.project.disabled{
	opacity: 0.3;
}